import angular from "angular";
import "../../css/<%= pageName %>.scss";
const <%= controllerName %> = $scope => {
    $scope.pageInfo = "This is <%= pageName %> page.";
}
const <%= directiveName %> = () => ({
    restrict:'EACM',
    template:`<p>{{pageInfo}}</p>`
})
angular.module("<%= pageName %>",[])
    .controller("<%= controllerName %>", ["$scope",
	$scope => <%= controllerName %>($scope)
    ])
    .directive("ngTitle", <%= directiveName %>);
